

/*----------------
Navigation
-----------------*/
@media(max-width:767px){
    .promotion-category-list{
      display:none;
    }
    .promotion-category-mobile{
        background:#ffffff;
        padding:10px 0;
        display: block;
    }
    .category-mobile{
        border:1px solid #eee;
        padding:5px 10px;
        border-radius: 3px;
        color: #666;
        position: relative;
    }
    .category-mobile:hover{
        cursor: pointer;
    }
    .down-menu{
        float: right;
    }
    .category-mobile-list{
        position: absolute;
        top:33px;
        left: 0;
        width: 100%;
        z-index: 10;
        background:#fff;
        margin: 0;
        padding: 0;
        list-style: none;
        padding:10px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        display: none;
    }
 .category-mobile-list a{
        padding:5px;
        border-bottom: 1px dashed #eee;
        display: block;
        color: #666;
    }
    .category-mobile-list a:hover{
        background:#f5f5f5;
        text-decoration: none;
    }
    
}
@media(max-width:480px){
    .promotion-category-list{
       display: none;
    }
 
    .promotion-box p{
    height: auto;
}
.category-mobile-list{
        position: absolute;
        top:33px;
        left: 0;
        width: 100%;
        z-index: 10;
        background:#fff;
        margin: 0;
        padding: 0;
        list-style: none;
        padding:10px;
        display: none;
    }
    .category-mobile-list a{
        padding:5px;
        border-bottom: 1px dashed #eee;
        display: block;
        color: #666;
    }
    .category-mobile-list a:hover{
        background:#f5f5f5;
    }
}